@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
	width: 600px;
	margin: auto;
	font-size: 16px;
}

body {
	background-color: #eee;
}

#title {
	margin: auto;
	width: 90%;
	padding-top: 75px;
	padding-bottom: 20px;
	text-align: center;
}

#interactive-five {
	width: 100%;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.interactive {
	width: 100%;
	height: 335px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.ledger {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	position: absolute;
	right: 0;
	top: 0;

	width: 190px;
	margin-left: 10px;

	background-color: #0089FF;
	border-radius: 10px;
	color: white;
}

#logo {
width: 25px;
margin-left: 300px;
padding-bottom: 40px;
}

.ledger-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#bottom {
	padding-bottom: 10px;
}

#world {
	background-image: url("../images/world.svg") !important;
}

svg {
	background-image: url("../images/namerica.svg");
	border-radius: 10px;
}

#border {
	background-image: url("../images/wall.svg");
	border-radius: 10px;
}

.spend {
	position: absolute;
	top: 100%;
	left: 0;

	width: 400px;
	height: 35px;
	margin-top: 10px;
	border-radius: 10px;

	background-color: #FFC25D;
	border: 2px solid #9B6100;
	color: #9B6100;

	/*font-family: "San Francisco Display";*/
	font-weight: 500;
}

.spend:active {
	background-color: #FFC25D;
	border: 2px solid #9B6100;
	color: #9B6100;

	/*font-family: "San Francisco Display";*/
	font-weight: 500;
}

.spend:hover {
	background-color: #FFE0AD;
	border: 2px solid #9B6100;
	color: #9B6100;

	/*font-family: "San Francisco Display";*/
	font-weight: 500;
}

.spend:disabled {
	background-color: #FFC25D;
	border: 2px solid #9B6100;
	color: #9B6100;
	opacity: 0.4;

	/*font-family: "San Francisco Display";*/
	font-weight: 500;
}

#paypal-spend {
	background-color: #55B0FF;
	border: 2px solid #0089FF;
	color: white;
}

#paypal-spend:hover {
	background-color: #99D0FF;
}

#sandbox-container {
	padding-bottom: 35px;
	width: 600px;
	height: 300px;
	border-radius: 10px;
	position: relative;
}

#sandbox-container-five {
	padding-bottom: 10px;
	width: 600px;
	height: 300px;
	border-radius: 10px;
	position: relative;
}

.helper-text {
	position: relative;
/*	text-align: right;*/
/*	top: -300px;
	right: 100px;
	margin: 10px;
	padding-right: 10px;*/
	font-size: 12px;
/*	width: 80px;*/
	color: dimgrey;
}


.noselect {
	user-select: none;
}

#venmo-database {
	font-size: 16px;
	padding-bottom: 3px;
	font-weight: bold;
}
